<h1>Products</h1>
<table class="table table-info table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>      
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @for (product of products; track product.id;) {
      <tr>
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>        
        <td><button type="button" class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button></td>
        <td><button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addProductModal" (click)="editProduct(product)" >Edit</button></td>
      </tr>
    }
  </tbody>
</table>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" (click)="editProduct(products)" data-bs-target="#addProductModal">
  Add Product
</button>

<app-product-form [product]="selectedProduct"></app-product-form>