<div class="modal fade" id="addOrderModal" tabindex="-1" aria-labelledby="addOrderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addOrderModalLabel">Add Order</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
          <input type="hidden" [(ngModel)]="order.id" name="order_id" id="order_id">
          <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="order.name" required ngModel>            
          </div>         
          <div class="mb-3">
            <label for="Name" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description"  [(ngModel)]="order.description" required ngModel>            
          </div>    
          <div class="mb-3">
            <label for="Date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date"  [(ngModel)]="order.date" required ngModel>            
          </div>   
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>